<!DOCTYPE html>
<html>
<head>
    <title>Awesome Search Box</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
</head>
<!-- Coded with love by Mutiullah Samim-->
<body>
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <form id="searchForm" class="searchForm">
            <div class="searchbar">
                <input class="search_input" type="text" name="query" placeholder="输入小说名字，寻找类似好看小说。。。">
                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
            </div>
        </form>
    </div>

    <!-- This is where the search results will be appended -->
    <div class="d-flex justify-content-center bg-black" id="results"><p>asdfasdf</p></div>
</div>
</body>
</html>